
/* BEGIN Layout */
body {
	margin: 0;
}
div.layoutMain {
	width: 100%;
	height: 100vh;
	display: flex;
}
div.layoutLeft {
	width: 30%;
	height: 100%;
	overflow-y: auto; /* Scrool dọc */
}
div.layoutCenter {
	width: 70%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
}
/* END Layout */


/* BEGIN Grid */
#packgrid {
	margin: 16px;
	background: #EEE;
	max-width: 1200px;
}
/* clear fix */
#packgrid:after {
	content: '';
	display: block;
	clear: both;
}
.pgi {
	float: left;
	width: 100px;
	height: 100px;
	background: #a5c1e5;
	border: 2px solid hsla(0, 0%, 0%, 0.5);
}
.pgi:hover {
	background: #98b9e4;
	cursor: pointer;
}
.pgimw { width:  210px; }
.pgimh { height: 210px; }
.pgilw { width:  320px; }
.pgilh { height: 320px; }
.pgis {
	width: 320px;
	height: 320px;
	background: #ffe48d;
}
.pgis:hover {
	background: #fdde77;
	cursor: pointer;
}
/* END Grid */


/* BEGIN JsTree */
div#jstree {
	margin-left: 16px;
}
.custom-node .jstree-icon {
	margin: 4px 5px;
	width: 16px !important;
	height: 16px !important;
}
/* END JsTree */


/* BEGIN Other */
* { box-sizing: border-box; }
/* END Other */
