body {
	margin: 0;
	height: 100vh;

	#listContent {
		/* height: 100%; */
		padding: 8px;
		height: calc(100% - 44px);
	}
}
#manager {
	padding: 16px;
}
.anim-rotate {
	animation: anim-rotate 1s linear infinite;
}
@keyframes anim-rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}