body {
	margin: 0;
	height: 100vh;

	#listContent {
		/* height: 100%; */
		padding: 8px;
		height: calc(100% - 44px);
	}

	#layout {
		#contain {
			background-color: white;
			height: 100%;
			overflow: auto;
		}
	}
}
#manager {
	padding: 16px;
}
.anim-rotate {
	animation: anim-rotate 1s linear infinite;
}
@keyframes anim-rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* #gallery-nanogallery2 .nGY2Viewer tự lấy zIndex cao nhất, ghim tại 999 */
.nGY2Viewer {
	z-index: 999 !important;
}
