/* body {
	padding: 16px 16px 16px 16px;
} */

/* Ngắt dòng cột name */
.tabulator .tabulator-cell[tabulator-field="name"] {
	white-space: normal !important; /* Cho phép ngắt dòng */
	overflow-wrap: break-word; /* Ngắt từ khi cần */
	text-overflow: unset !important; /* Tắt dấu ba chấm */
	line-height: 1.4; /* Tùy chỉnh khoảng cách dòng */
}

/* Chỉnh CSS icon menu */
img.menuIcon {
	margin: 0 5px -3px 0;
}

/* Highlight dòng thay đổi dữ liệu */
.highlight-row {
	background-color: #ffeb3b !important; /* Màu vàng nổi bật */
	transition: background-color 1s; /* Hiệu ứng chuyển màu */
}

/* Chỉnh CSS header */
.tabulator-col-title {
	padding-right: 5px;
}
